
h1 {
    color: orange;
    background-color: slategrey;
    font-size: 80px;
    text-decoration: line-through;
    text-align: center;
}
p {
    color: slategrey;
}
blockquote {
    color: slateblue;
    text-align: left;
    letter-spacing: 2px;
    column-count: 2;
    column-gap: 40px;
}
ul {
    border-width: 4px;
    border-style: solid;
    border-color: black;
}